@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

.u-center-text {
  text-align: center;
  margin: 0 auto;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-top-big {
  margin-top: 8rem;
}

.u-margin-top-huge {
  margin-top: 10rem;
}

.u-margin-top-medium {
  margin-top: 4rem;
}

.u-padding-small {
  padding: 2rem 0 5rem 0;
}

body {
  font-family: "Lato", "sans-serif";
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #555;
}

.heading-primary {
  backface-visibility: hidden;
  color: aliceblue;
  text-transform: uppercase;
  margin-bottom: 6rem;
}
.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation-name: moveInLeft;
  animation-duration: 0.9s;
  animation-timing-function: ease-out;
}
.heading-primary--sub {
  display: inline-block;
  font-size: 2rem;
  font-weight: 700;
  animation: moveInRight 1s ease-out;
  letter-spacing: 1.75rem;
}

.heading-secondery {
  background-image: linear-gradient(to right, #43703b, #061611);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  letter-spacing: 2px;
  transition: all 0.2s;
}
.heading-secondery:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 800;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
  }
}
.section-about {
  background-color: #f7f7f7;
  padding: 25rem;
  padding-bottom: 27.5rem;
  margin-top: -20vh;
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right, rgba(67, 112, 59, 0.8), rgba(6, 22, 17, 0.8)), url("../img/nat-4.jpg");
  background-size: cover;
  background-position: top;
  margin-top: -12rem;
  transform: skewY(-7deg);
}
.section-features > * {
  transform: skewY(7deg);
}

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 15rem 0;
  margin-top: -12rem;
}

.section-stories {
  padding: 15rem 0 5rem 0;
  position: relative;
}

.section-book {
  padding: 15rem 0 20rem 0;
  background-size: cover;
}

.book {
  background-image: linear-gradient(105deg, rgba(247, 247, 247, 0.9), transparent, rgba(153, 153, 153, 0.6));
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3098039216);
  height: 55rem;
  width: 60%;
  margin: 0 auto;
}
.book__form {
  width: 100%;
  padding: 6rem 0rem;
}

.navigation__checkbox {
  display: none;
}
.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  border-radius: 100px;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 2500;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.35);
}
.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 100px;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#43703b, #061611);
  z-index: 1000;
  transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1);
}
.navigation__nav {
  height: 100vh;
  width: 0%;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  transition: all 0.9s cubic-bezier(0.86, 0, 0.07, 1);
}
.navigation__list {
  list-style: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}
.navigation__item {
  margin: 2rem;
}
.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, rgba(114, 114, 114, 0.662745098) 50%, #fff 100%);
  background-size: 220%;
  transition: all 0.5s;
}
.navigation__link:link span, .navigation__link:visited span {
  margin-right: 1.5rem;
  display: inline-block;
}
.navigation__link:hover, .navigation__link:active {
  color: #061611;
  background-position: 100%;
  transform: translateX(1rem);
}
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
}
.navigation__checkbox:checked ~ .navigation__nav {
  width: 100%;
  opacity: 1;
}

.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right, rgba(67, 112, 59, 0.8), rgba(6, 22, 17, 0.8)), url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}
.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}
.header_logo {
  height: 3.5rem;
}
.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
.row [class^=col-] {
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 6rem;
}
.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}
.row .col-2-of-3 {
  width: calc(2 * (100% - 2 * 6rem) / 3 + 6rem);
}
.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}
.row .col-2-of-4 {
  width: calc(2 * (100% - 3 * 6rem) / 4 + 6rem);
}
.row .col-3-of-4 {
  width: calc(3 * (100% - 3 * 6rem) / 4 + 2 * 6rem);
}

.footer {
  background-color: #061611;
  padding: 10rem 0;
  font-size: 1rem;
  text-align: center;
}
.footer__logo-box img {
  width: 15rem;
  height: auto;
}
.footer__navigation {
  padding-top: 2rem;
  display: inline-block;
}
.footer__item {
  display: inline-block;
}
.footer__item:not(:last-child) {
  margin-right: 1.5rem;
}
.footer__link:link, .footer__link:visited {
  background-color: #061611;
  color: #999;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  transition: all 0.2s;
}
.footer__link:hover, .footer__link:active {
  color: #55c57a;
  text-shadow: 0 1rem 2rem #55c57a;
  transform: rotate(1deg) scale(1.5);
}
.footer__copyright {
  color: #999;
  padding-top: 2rem;
}
.footer__copyright a {
  color: #ff7730;
  font-size: 1.5rem;
  text-decoration: dotted;
}

.composition {
  position: relative;
}
.composition__photo {
  width: 55%;
  box-shadow: 0 1.5rem 4rem black;
  border-redius: 2px;
  z-index: 10;
  position: absolute;
  transition: all 0.2s;
  outline-offset: 2rem;
}
.composition__photo--p1 {
  left: 0;
  top: -2rem;
}
.composition__photo--p2 {
  right: 0;
  top: 2rem;
}
.composition__photo--p3 {
  left: 20%;
  top: 10rem;
}
.composition__photo:hover {
  outline: 1.5rem solid #55c57a;
  transform: scale(1.05) translateY(-5px);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 20;
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.95);
}

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.5s;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2392156863);
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
}
.btn:hover, .btn:focus {
  transform: translateY(-0.3rem);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1019607843);
}
.btn:hover::after, .btn:focus::after {
  transform: scaleX(1.1) scaleY(1.1);
  opacity: 0;
}
.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 10px 30px rgba(255, 255, 255, 0.231372549);
}
.btn-white {
  background-color: #fff;
  color: #444;
}
.btn-white::after {
  background-color: rgba(255, 255, 255, 0.9529411765);
}
.btn--green {
  background-color: #55c57a;
  color: #fff;
}
.btn--green::after {
  background-color: #55c57a;
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: transform, opacity, 0.6s;
}
.btn--animate {
  animation: moveInBottom 0.4s ease-in 0.55s;
  animation-fill-mode: backwards;
}
.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #55c57a;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px solid #55c57a;
  padding: 5px;
  transition: all 0.2s;
  font-weight: 800;
}
.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}
.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(1px);
}

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform 0.3s;
}
.feature-box__icon {
  font-size: 6rem;
  margin-bottom: 0.5rem;
  background-image: linear-gradient(to right, #43703b, #061611);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.feature-box:hover {
  transform: translateY(-1.5rem) scale(1.03);
}

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem;
}
.card__side {
  background-color: #000;
  height: 52rem;
  transition: all 0.5s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 1 1.5rem 4rem rgba(0, 0, 0, 0.2392156863);
}
.card__side--front {
  background-color: #fff;
}
.card__side--back {
  background-color: #6b6b6b;
  transform: rotateY(180deg);
}
.card__side--back-1 {
  background-image: linear-gradient(to right bottom, rgba(255, 187, 0, 0.7450980392), #ff7730);
}
.card__side--back-2 {
  background-image: linear-gradient(to right bottom, #43703b, #061611);
}
.card__side--back-3 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}
.card:hover .card__side--front {
  transform: rotateY(-180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0deg);
}
.card__pic {
  background-size: cover;
  height: 23rem;
  background-blend-mode: screen;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
.card__pic--1 {
  background-image: linear-gradient(to right bottom, rgba(255, 187, 0, 0.7450980392), #ff7730), url(../img/nat-5.jpg);
}
.card__pic--2 {
  background-image: linear-gradient(to right bottom, #55c57a, #43703b), url(../img/nat-6.jpg);
}
.card__pic--3 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/nat-7.jpg);
}
.card__heading {
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  color: #fff;
  position: absolute;
  top: 12rem;
  right: 2rem;
  width: 75%;
}
.card__heading-span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.card__heading-span--1 {
  background-image: linear-gradient(to right bottom, rgba(255, 187, 0, 0.85), rgba(255, 119, 48, 0.85));
}
.card__heading-span--2 {
  background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.85), rgba(67, 112, 59, 0.85));
}
.card__heading-span--3 {
  background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85));
}
.card__details {
  padding: 3rem;
}
.card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}
.card__details ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}
.card__details ul li:not(:last-child) {
  border-bottom: 1px solid rgba(68, 68, 68, 0.15);
}
.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
}
.card__price-box {
  color: #fff;
  margin-bottom: 8rem;
}
.card__price-only {
  font-size: 1.4rem;
  text-transform: uppercase;
}
.card__price-value {
  font-size: 6rem;
  font-weight: 300;
}

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2392156863);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg);
}
.story__shape {
  width: 15rem;
  height: 15rem;
  float: left;
  -webkit-shape-outside: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
  transform: translateX(-3rem) skewX(12deg);
  position: relative;
}
.story__img {
  height: 100%;
  transform: translateX(-4rem) scale(1.4);
  transition: all 0.4s ease-out;
  backface-visibility: hidden;
}
.story__text {
  transform: skewX(12deg);
}
.story__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
  color: #fff;
  text-transform: uppercase;
  font-size: 1.7rem;
  text-align: center;
  opacity: 0;
  transition: all 0.5s;
  text-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.7725490196);
  backface-visibility: hidden;
}
.story:hover .story__caption {
  opacity: 1;
  transform: translate(-50%, -50%);
}
.story:hover .story__img {
  transform: translateX(-4rem) scale(1);
  filter: blur(5px) contrast(110%) brightness(65%);
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 177.5%;
  width: 100%;
  z-index: -1;
  opacity: 0.2;
  overflow: hidden;
}
.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.form {
  text-align: center;
  width: 100%;
}
.form__group:not(:last-child) {
  margin-bottom: 2rem;
}
.form__input {
  margin: 0 auto 0 13.5rem;
  font-size: 1.6rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 3px;
  background-color: transparent;
  border: none;
  font-weight: 800;
  border-bottom: 2px solid #061611;
  width: 60%;
  display: block;
  transition: all 0.3s;
}
.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #55c57a;
  background-color: transparent;
}
.form__input:focus:invalid {
  border-bottom: 2px solid #ff7730;
  background-color: transparent;
}
.form__input::-webkit-input-placeholder {
  color: #999;
}
.form__label {
  text-align: left !important;
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: -30rem;
  margin-top: 0.7rem;
  display: inline-block;
  transition: all 0.3s ease-in;
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}
.form__group:nth-child(4) {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  width: 70%;
  margin: 0 auto;
}
.form__radio-input {
  display: none;
}
.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 2.9rem;
}
.form__radio-button {
  height: 2rem;
  width: 2rem;
  border: 4px solid #43703b;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -0.12rem;
}
.form__radio-button::after {
  content: "";
  display: block;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #43703b;
  opacity: 0;
  transition: opacity 0.1s;
}
.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1;
}
.form__button {
  display: flex !important;
  text-align: left;
  width: 68%;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
