.section-about
    background-color: $color-grey-light-1
    padding: 25rem 0
    margin-top:-20vh 
    @include respond(tap-port)
       padding: 30rem 2.5rem 22.5rem 2.5rem


.section-features 
    padding:20rem 0
    background-image: linear-gradient(to right, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), url("../img/nat-4.jpg")
    background-size: cover
    background-position: top
    margin-top:-12rem
    transform: skewY(-7deg)

    & > * 
        transform: skewY(7deg)
    
    @include respond(tap-port)
       padding: 20rem 0

.section-tours 
    background-color: #FEFAF5
    padding: 25rem 0 15rem 0
    margin-top:-12rem


    @include respond(tap-port)
       padding: 20rem  0


.section-stories 
    padding: 15rem 0 10rem 0
    position: relative
    @include respond(tap-port)
       padding: 10rem  0 


.section-book
    padding: 10rem 15rem 25rem 15rem
    background-size: cover
    @include respond(tap-port)
       padding: 20rem  0 30rem 0 



.book 
    background: rgba(255, 255, 255, 0.4)
    backdrop-filter: blur(8px)
    -webkit-backdrop-filter: blur(10px)
    border-radius: 9px
    box-shadow: 0 1.5rem 4rem #0000004f
    width:60%
    margin: 0 auto 
    
    &__form
        width:100%
        padding:6rem 0rem
            
    @include respond(tap-port)
        &__form
           padding:6rem 0rem 4rem 0rem
        width:100%  
        overflow-x: hidden   
    

