.section-about
    background-color: $color-grey-light-1
    padding: 25rem
    padding-bottom: 27.5rem
    margin-top:-20vh 


.section-features 
    padding:20rem 0
    background-image: linear-gradient(to right, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), url("../img/nat-4.jpg")
    background-size: cover
    background-position: top
    margin-top:-12rem
    transform: skewY(-7deg)

    & > * 
        transform: skewY(7deg)

.section-tours 
    background-color: #FDF9F4
    padding: 25rem 0 15rem 0
    margin-top:-12rem



.section-stories 
    padding: 15rem 0 5rem 0
    position: relative


.section-book
    padding: 15rem
    background-size: cover



.book 
    background: rgba(255, 255, 255, 0.4)
    backdrop-filter: blur(8px)
    -webkit-backdrop-filter: blur(10px)
    border-radius: 9px
    box-shadow: 0 1.5rem 4rem #0000004f
    height: 55rem
    width:60%
    margin: 0 auto
    
    &__form
        width:100%
        padding:6rem 0rem
        

